*body{
    margin: 0px;
    padding:0px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
    width:100%;
    height: 100vh;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    box-sizing: border-box;
}

.card-1 :nth-child(1){
max-width: 70px;
}
#box-1{
    float:right;
    max-width:150px;
    padding-top :100px;
    padding-right: 5%;
    padding-bottom: 1%;
}
.info :nth-child(2){
    max-width: 70px;
      padding-top:100px;
      padding-left:50px ;

  }

#box{
    float:right;
    max-width:145px;
    padding-top :100px;
    padding-right: 5%;
    padding-bottom: 1%;
}
  .info :nth-child(2){
    max-width: 70px;
      padding-top:100px;
      padding-left:50px ;

  }

.info :nth-child(3){
    padding-left:50px;
    color:white;
    line-height: 1rem;

}

 .info :nth-child(4){
    margin-left:50px;
     margin-right:200px;
     border:1px solid white;

 }



.info :nth-child(5){
   margin-right: 20px;
   color:white;
   padding-left:50px

}














.info-6 :nth-child(2){
    max-width: 70px;
    padding:5%
}
.info-6 :nth-child(3)

#box-6{
    float:right;
    max-width:145px;
    padding-top :100px;
    padding-right: 5%;
    padding-bottom: 1%;
}

.card-1{
    background:orange;
 
   
}
.card-2{
    background: greenyellow;
    

}
.card-3{
    background-color: pink;
}

.card-4{
    background-color: aquamarine;
}
.card-5{
    background-color:crimson
}

.card-6{
    background-color: darkcyan;
}
@media screen and (max-width:1100px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:320px){
    .grid-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    }
}

